
.biocontainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bioleft {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
}

.biome {
  font-size: 8vw;
  color: var(--maroonred);
  font-family: 'Prata', serif;
}

.bioname {
  font-size: 4vw;
  color: var(--maroonred);
  font-family: 'Prata', serif;
}

.bioright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  font-size: 5vw;
  font-family: 'Prata', serif;
}

/* tablet */

@media only screen and (max-width: 768px) {
  .biocontainer {
    display: flex;
    flex-direction: column;
  }
  
  .bioleft {
    width: 80%;
    height: 35vh;
    margin-bottom: 3vh;
  }
  
  .biome {
    font-size: 15vh;
  }
  
  .bioname {
    font-size: 5vh;
  }
  
  .bioright {
    width: 70%;
    font-size: 5vh;
    padding-left: 10vw;
  }  
}

/* mobile */

@media only screen and (max-width: 430px) {
  .biocontainer {
    display: flex;
    flex-direction: column;
  }
  
  .bioleft {
    width: 80%;
    height: 35vh;
    margin-bottom: 3vh;
  }
  
  .biome {
    font-size: 15vh;
  }
  
  .bioname {
    font-size: 5vh;
  }
  
  .bioright {
    width: 80%;
    font-size: 5vh;
    padding-left: 0px;
  }
}