
.biocontainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bioleft {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  padding-left: 20px;
  padding-right: 20px;
}

.biome {
  font-size: 120px;
  color: var(--maroonred)
}

.bioname {
  font-size: 60px;
  color: var(--maroonred)
}

.bioright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  font-size: 80px;
}

