
.biocontainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bioleft {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  border: 1px solid red;
}

.biome {
  font-size: 8vw;
  color: var(--maroonred)
}

.bioname {
  font-size: 4vw;
  color: var(--maroonred)
}

.bioright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  font-size: 5.5vw;
}

