
.contactcontainer {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.6fr;
  margin-left: 5%;
  margin-right: 5%;
}

.contactbox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  /* background: red; */
}

.contact {
  font-size: 7vw;
  color: var(--brightorange);
  font-family: 'Prata', serif;
  padding-right: 5vw;
}

.contactname {
  font-size: 4vw;
  color: var(--brightorange);
  font-family: 'Prata', serif;
  padding-right: 7vw;
}

.contactlinksbox {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.contactlinks {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  margin-right: 3vw;
  margin-bottom: 2vw;  
  background: var(--softgrey);
  margin-left: 1.5vw;
}

.contactbottomcontainer {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contactbottombox {
  width: 80%;
  height: 72%;
  margin-top: 5vh;
  border: 2px solid var(--royalblue); 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.getintouchbox {
  display: flex;
  justify-content: center;  
  align-items: center;
}

.getintouch {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 7vw;
  padding: 3%;
  width: 60%;
  color: var(--royalblue);
  font-family: 'Prata', serif;
}

.formcontainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formbox {
  display: flex;
  justify-content: center;  
  align-items: center;
  background: var(--brightorange);
  height: 100%;
  width: 100%;
}

input[name=name] {
  border: solid rgba(0, 0, 0, 0.644) 1px;  
  height: 6vh;
  width: 30vw;
  background: var(--brightorange);
  color: black;
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Prata', serif;
  margin-bottom: 1vh;
}

input[name=_replyto] {
  border: solid rgba(0, 0, 0, 0.644) 1px;  
  height: 6vh;
  width: 30vw;
  background: var(--brightorange);
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Prata', serif;
  margin-bottom: 1vh;
}

input[name=message] {
  border: solid rgba(0, 0, 0, 0.644) 1px;  
  height: 12vh;
  width: 30vw;
  background: var(--brightorange);
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Prata', serif;
  margin-bottom: 1vh;
}

#submit {
  background: var(--brightorange);
  text-decoration: none;
  border: solid rgba(0, 0, 0, 0.644) 1px;  
  height: 4vh;
  width: 30vw;
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Prata', serif;
}

::placeholder {
  color: black;
  padding-left: 0.5vw;
}

input:hover {
  box-shadow: inset 0px 0px 500px rgb(255, 224, 177);
}

/* tablet */
@media only screen and (max-width: 768px) {
  .contact {
    font-size: 8vw;
  }
  
  .contactname {
    font-size: 5vw;
  }
  
  .contactlinks {
    width: 12vw;
    height: 12vw;
  }
  
  .contactbottombox {
    width: 95%;
  }
  
  input[name=name] {
    height: 6vh;
    width: 40vw;
  }
  
  input[name=_replyto] {
    height: 6vh;
    width: 40vw;
  }
  
  input[name=message] {
    height: 12vh;
    width: 40vw;
  }
  
  #submit {
    height: 4vh;
    width: 40vw;
  }
  
}


/* mobile */

@media only screen and (max-width: 430px) {
  
  .contactcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.6fr;
  }
  
  .contactbox {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    
  }
  
  .contactlinksbox {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  5vh;
  }
  
  .contactbottomcontainer {
    grid-row: 3 / 4;
  }
  
  .contactbottombox {
    grid-template-columns: 1fr;
  }
  
  .contact {
    font-size: 8vh;
    padding: 0px;
  }
  
  .contactname {
    font-size: 4vh;
    padding-right: 4vw;
  }
  
  .contactlinks {
    height: 10vh;
    width: 10vh;
  }
  
  .getintouchbox {
    display: none;
  }
  
  input[name=name] {
    height: 6vh;
    width: 70vw;
    margin-top: 1vh;
  }
  
  input[name=_replyto] {
    height: 6vh;
    width: 70vw;
  }
  
  input[name=message] {
    height: 12vh;
    width: 70vw;
  }
  
  #submit {
    height: 4vh;
    width: 70vw;
    margin-bottom: 1vh;
  }
}