
* {
  margin: 0px;
}

.maincontainer {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: 0.4fr 0.6fr;
}

.nameintro {
  background: var(--oceanblue);
  /* height: 300px;
  width: 100%; */
   /* display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-template-rows: 0.47fr 0.53fr; */
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 0.8fr 0.005fr 0.2fr;
  grid-template-rows: 0.48fr 0.52fr; 
}

.pan {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--darkgreey);
  font-size: 120px;
  padding-left: 10%;
  
}

.linebreak {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: black;
  margin-top: 1000%;
  margin-bottom: 1000%;
}

.hello {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 60px;
  margin-right: 2%;
  color: var(--darkocean);
}

.mainname {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 80px;
  margin-right: 2%;
  color: white;
}

.content {
  grid-row: 2 / 3;
}

.contentleftbox {
  float: left;
  background: var(--darkocean);
  color: var(--hamorange);
  height: 80%;
  width: 25%;
  margin-top: 3%;
  margin-left: 8%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.contentright {
  float: right;
  color: black;
  height: 80%;
  width: 50%;
  margin-top: 3%;
  margin-right: 8%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  text-align: center;
  padding: 10px;
}
