
* {
  margin: 0px;
}

.maincontainer {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: 40fr 60fr;
}

.nameintro {
  background: var(--oceanblue);
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-template-rows: 0.48fr 0.52fr;  
}

.nameintro:hover {
  animation-name: nameintroani;
  animation-duration: 3s;
}

.pan {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--darkgreey);
  font-size: 15vh;
  padding-left: 5%;
  border-left: 10px solid black;
  margin-top: 20%;
  margin-bottom: 20%;  
  font-family: 'Ubuntu', sans-serif;
}

.hello {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 7vh;
  margin-right: 2%;
  color: var(--darkocean);
  font-family: 'Prata', serif;
}

.mainname {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 10vh;
  margin-right: 2%;
  color: white;
  font-family: 'Prata', serif;
}

.content {
  grid-row: 2 / 3;
}

.contentleftbox {
  float: left;
  background: var(--darkocean);
  background-size: 10px; 
  height: 80%;
  width: 30%;
  margin-top: 2%;
  margin-left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brightorange);
  font-family: 'Tulpen One', cursive;
  font-size: 5vw;
}

.contentleftbox:hover {
  animation-name: fontcolorchange;
  animation-duration: 8s;
}

.contentright {
  float: right;
  color: black;
  height: 80%;
  width: 50%;
  margin-top: 3%;
  margin-right: 8%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Tulpen One', cursive;
}

/* tablet */

@media only screen and (max-width: 768px) {
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contentleftbox {
    float: none;
    width: 50%;
    margin-left: 0;
  }
  
  .contentright {
    display: none;
  }
  
  .contentleftbox {
    font-size: 8vw;
  }
  
  .hello {
    font-size: 8vw;
  }
  
  .mainname {
    font-size: 10vw;
  }  
  
  .pan {
    font-size: 16vw;
  }
}

/* mobile */

@media only screen and (max-width: 430px) {
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contentleftbox {
    float: none;
    width: 50%;
    margin-left: 0;
  }
  
  .contentright {
    display: none;
  }
  
  .hello {
    font-size: 4vh;
  }
  
  .mainname {
    font-size: 5vh;
  }  
  
  .pan {
    font-size: 8vh;
  }
  
  .contentleftbox {
    font-size: 10vw;
  } 
}