
* {
  margin: 0px;
}

.maincontainer {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: 40fr 60fr;
}

.nameintro {
  background: var(--oceanblue);
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-template-rows: 0.48fr 0.52fr;  
}

.pan {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--darkgreey);
  font-size: 10vw;
  padding-left: 5%;
  border-left: 10px solid black;
  margin-top: 20%;
  margin-bottom: 20%;  
  font-family: 'Ubuntu', sans-serif;
}

.hello {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 4vw;
  margin-right: 2%;
  color: var(--darkocean);
  font-family: 'Chewy', cursive;
}

.mainname {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 6vw;
  margin-right: 2%;
  color: white;
  font-family: 'Chewy', cursive;
}

.content {
  grid-row: 2 / 3;
}

.contentleftbox {
  float: left;
  background: var(--darkocean);
  color: var(--hamorange);
  height: 80%;
  width: 30%;
  margin-top: 3%;
  margin-left: 8%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Tulpen One', cursive;
}

.contentright {
  float: right;
  color: black;
  height: 80%;
  width: 50%;
  margin-top: 3%;
  margin-right: 8%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Tulpen One', cursive;
}








/* tablet */

@media only screen and (max-width: 800px) {

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentleftbox {
    float: none;
    width: 50%;
    margin-left: 0;
  }
  
  .contentright {
    display: none;
  }
  
}






/* mobile */

@media only screen and (max-width: 400px) {

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentleftbox {
    float: none;
    width: 50%;
    margin-left: 0;
  }
  
  .contentright {
    display: none;
  }

}