
.skillcontainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.skillbox {
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}

.skill {
  font-size: 12vh;
  color: var(--oceanblue);
  font-family: 'Prata', serif;
}

.skillname {
  font-size: 6vh;
  color: var(--oceanblue);
  font-family: 'Prata', serif;
}

.skilllogobox {
  height: 40vh;
  width: 50vw;
  /* display: grid;
  grid-template-columns: 40fr 60fr; */

  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5vh;
}

.skilllogo {
  /* grid-column: 1 / 2; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10vh;
  color: var(--darkgreey);
}

.beginner {
  /* grid-column: 2 / 3; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-family: 'Prata', serif;
  padding-left: 5vw;
}

/* tablet */

@media only screen and (max-width: 768px) {

  .beginner {
    font-size: 6vh;
  }

  .skilllogo {
    font-size: 10vh;
  }

}


  /* mobile */
  
  @media only screen and (max-width: 430px) {
  
  
  }