
.skillcontainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.skillbox {
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}

.skillbox:hover .skill {
  animation-name: fontcolorchange;
  animation-duration: 3s;
}

.skillbox:hover .skillname {
  animation-name: fontcolorchange;
  animation-duration: 3s;
}

.skill {
  font-size: 12vh;
  color: var(--oceanblue);
  font-family: 'Prata', serif;
}

.skillname {
  font-size: 6vh;
  color: var(--oceanblue);
  font-family: 'Prata', serif;
}

.skilllogobox {
  height: 40vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5vh;
}

.skilllogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10vh;
  color: var(--darkgreey);
}

.skilllogo:hover {
  animation-name: fontcolorchange;
  animation-duration: 3s;
}

.skillprogresscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vw; 
}

.skillprogress {
  background: var(--darkgreey);
  border-radius: 13px;
  height: 5vh;
  width: 30vw;
  padding: 3px;
}

.skillprogress:after {
  content: '25%';
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Prata', serif;
  display: block;
  background: var(--oceanblue);
  width: 25%;
  height: 100%;
  border-radius: 9px;
}

/* tablet */

@media only screen and (max-width: 768px) {
  
  .beginner {
    font-size: 6vh;
  }
  
  .skilllogo {
    font-size: 10vh;
  }

  .skillprogress {
    height: 4vh;
  }
  
  .skillprogress:after {
    font-size: 3vw;
  }
}

/* mobile */

@media only screen and (max-width: 430px) {
  
  .skillprogress {
    height: 4vh;
    width: 50vw;
  }

  .skillprogress::after {
    font-size: 5vw;
  }
}